.survey-container {
    display: flex;
    flex-flow: column;
    height: 200px;       
}

.survey-flex-item{
    flex:0;
    text-align: center;
}

.main{
    flex:1;
    background-color: blue;
}

.survey-navigation{
    flex:0;
    background-color: blueviolet;
}