UserSurvey/resonate/resonate.WebApi/App_Data/
UserSurvey/resonate/resonate.WebApi/bin/
UserSurvey/resonate/resonate.WebApi/obj/
UserSurvey/resonate/resonate.Data/bin/
UserSurvey/resonate/resonate.Data/obj/
UserSurvey/resonate/resonate.Services/bin/
UserSurvey/resonate/resonate.Services/obj/
UserSurvey/resonate/packages/
UserSurvey/resonate/resonate.v12.suo

# UserSurvey gitignore
.idea
