<div class="survey-container">

    <div class="minor-heading survey-flex-item">
            RATE YOUR EXPERIENCE
    </div>

    <div class="major-heading survey-flex-item">
        Please rate your recent experience with us
    </div>

    <div class="main survey-flex-item">
           
    </div>

    <div class="survey-navigation survey-flex-item">
            <div class="btn btn-default">
                    <a [routerLink]="['/improve']">Improvement</a>
            </div>
    </div>

</div>