<div class="start-container">

    <div class="minor-heading start-minor-heading start-flex-item">
            RATE YOUR EXPERIENCE
    </div>

    <div class="major-heading start-major-heading start-flex-item">
        Please rate your recent experience with us
    </div>

  

    <div class="main start-flex-item">
           
    </div>

    

    <div class="start-navigation start-flex-item">
            <div class="btn btn-default">
                    <a [routerLink]="['/improve']">Improvement</a>
            </div>
    </div>

</div>